TELEGRAM_BOT_TOKEN=123456:replace_me
BOT_USERNAME=midas_vpn_bot
ADMIN_IDS=
SUPPORT_URL=https://t.me/your_support
INSTRUCTION_URL=https://telegra.ph/your_instruction
CHANNEL_URL=https://t.me/your_channel
ICON_AUTO_IMPORT=
ICON_BUY=
ICON_SUBSCRIPTION=
ICON_TOP_UP=
ICON_PROMO=
ICON_REFERRAL=
ICON_SUPPORT=
ICON_INSTRUCTION=
ICON_APP=
ICON_DEVICES=
ICON_TRAFFIC=
ICON_LINK=
ICON_BACK=
CUSTOM_EMOJI_USER_ID=
CUSTOM_EMOJI_BALANCE=
CUSTOM_EMOJI_STATUS=
CUSTOM_EMOJI_LINK=
CUSTOM_EMOJI_PROMO=
CUSTOM_EMOJI_BUY=
CUSTOM_EMOJI_DEVICES=
